<template>
    <v-layout class="vazir">
        <v-flex sm10 md8>
            <p class="display-2 grey--text text--darken-3">{{title}}</p>
            <form>
                <!-- full name -->
                <v-text-field
                        label="نام و نام خانوادگی"
                        v-model="name"
                        :error-messages="nameErrors"
                        @input="$v.name.$touch()"
                        @blur="$v.name.$touch()"
                        required
                ></v-text-field>

                <!-- gender -->
                <v-radio-group
                        required
                        v-model="gender"
                        column=""
                        :error-messages="genderErrors"
                        @change="$v.gender.$touch"
                        @blur="$v.gender.$touch()"
                >
                    <v-radio label="مرد" value="m" required></v-radio>
                    <v-radio label="زن" value="f" required></v-radio>
                </v-radio-group>

                <!-- day-->
                <v-select
                        required
                        :items="validDay"
                        v-model="rday"
                        label="روز"
                        item-disabled="disabled"
                        :loading="fetchLoading"
                        :error-messages="rdayErrors"
                        single-line
                        @mousedown="rdayFocused"
                >
                    <template slot="item" slot-scope="data">
                        <v-list-tile-content class="vazir">
                            <v-list-tile-title>
                                <div v-if="data.item.disabled">
                                    ظرفیت تکمیل است
                                </div>
                                <div v-else>
                                    {{data.item.text}}
                                </div>
                            </v-list-tile-title>
                        </v-list-tile-content>
                    </template>
                </v-select>

                <!-- student id -->
                <v-text-field class=""
                              label="شماره دانشجویی"
                              v-model="studentID"
                              :error-messages="studentIDErrors"
                              @input="$v.studentID.$touch()"
                              @blur="$v.studentID.$touch()"
                              required
                              type="number"
                              placeholder="9012345"
                ></v-text-field>

                <v-text-field class="mb-4"
                              v-model="phone"
                              placeholder="913 011 2222"
                              type="number"
                              required
                              :error-messages="phoneErrors"
                              @input="$v.phone.$touch()"
                              @blur="$v.phone.$touch()"
                              label="موبایل">
                </v-text-field>


                <div class="g-recaptcha" data-sitekey="6LewNVYUAAAAAFBgVueYos4_I1bKsPyrYMZuX-fS"></div>
                <v-flex text-md-center>

                    <div v-if="bankWaiting">
                        <p class="mt-5">... در حال انتقال به درگاه بانک</p>
                    </div>
                    <div v-else>
                        <v-btn class="mt-5" large dark color="indigo accent-3" @click="submit" :loading="registerLoading"> خرید
                            <v-icon dark right>keyboard_arrow_right</v-icon>
                        </v-btn>
                    </div>
                </v-flex>
            </form>

            <v-snackbar
                    :timeout="2000"
                    bottom=""
                    v-model="snackbar">

                {{ snacktext }}
                <v-btn flat color="red" @click.native="snackbar = false">بستن</v-btn>
            </v-snackbar>


            <v-snackbar
                    :timeout="5000"

                    top=""
                    v-model="snackbar2">

                {{ snacktext }}
                <v-btn flat color="red" @click.native="snackbar2  = false">بستن</v-btn>
            </v-snackbar>


        </v-flex>
    </v-layout>
</template>

<style scoped>

</style>

<script>
  import { validationMixin } from "vuelidate";
  import { required, maxLength } from "vuelidate/lib/validators";
  import axios from "axios";
  import Raven from "raven-js";

  let rg4js = function(args) {console.log(args);};
  if (process.browser) {
    rg4js = require("raygun4js");
  }

  const stdidRegex = value => {
    if (typeof value === "undefined" || value === null || value === "") {
      return true;
    }
    return /^[0-9]{7}$/.test(value);
  };

  const phoneRegex = value => {
    if (typeof value === "undefined" || value === null || value === "") {
      return true;
    }
    return /^[0-9]{10}$/.test(value);
  };

  const API_URL = process.env.API_URL;
  console.log(API_URL);
  const mondayText = "97/3/7 دوشنبه";
  export default {
// Nuxt stuff
    head: {
      script: [
        { src: "https://www.google.com/recaptcha/api.js", async: true, defer: true }
      ]
    },
// Vue stuff
    components: {},
    props: ["title"],
    mixins: [validationMixin],

    validations: {
      name: { required, maxLength: maxLength(40) },
      studentID: { required, numeric: stdidRegex },
      gender: { required },
      rday: { required },
      phone: { required, numeric: phoneRegex }
    },

    data: () => ({

      validDay: [],
      fetchLoading: false,
      registerLoading: false,
      bankWaiting: false,
      snackbar: false,
      snackbar2: false,
      snacktext: "",
      event: "aria",
      name: "",
      phone: "",
      studentID: null,
      gender: null,
      datetimes: [],
      rday: null,
      recaptcha: null
    }),

    mounted: function() {

      Raven.setTagsContext({ event: this.event });

      rg4js("withTags", [this.event]);

    },
    computed: {
      genderErrors () {
        const errors = [];
        if (!this.$v.gender.$dirty) return errors;
        !this.$v.gender.required && errors.push("جنسیت الزامی است");
        return errors;
      },
      nameErrors () {
        const errors = [];
        if (!this.$v.name.$dirty) return errors;
        !this.$v.name.maxLength && errors.push("نام نمی تواند بیشتر از ۴۰ کاراکتر باشد");
        !this.$v.name.required && errors.push("نام الزامی است");
        return errors;
      },
      rdayErrors () {
        const errors = [];
        if (!this.$v.rday.$dirty) return errors;
        !this.$v.rday.required && errors.push("روز الزامی است");
        return errors;
      },
      phoneErrors () {
        const errors = [];
        if (!this.$v.phone.$dirty) return errors;
        !this.$v.phone.numeric && errors.push("دقیقا باید ۱۰ رقم باشد");
        !this.$v.phone.required && errors.push("شماره موبایل الزامی است");
        return errors;
      },
      studentIDErrors () {
        const errors = [];
        if (!this.$v.studentID.$dirty) return errors;
        !this.$v.studentID.numeric && errors.push("دقیقا باید ۷ رقم باشد");
        !this.$v.studentID.required && errors.push("شماره دانشجویی الزامی است");
        return errors;
      }
    },
    filters: {},
    watch: {
      gender: function(new_gender) {
        this.cleardaytime();
        this.timeslot_api(new_gender);
      },
      rday: function(newDay, _) {
        console.log(newDay);
      }
    },
    methods: {

      snackalert (value) {
        this.snacktext = value;
        this.snackbar = true;
      },
      snackalertError (value) {
        this.snacktext = value;
        this.snackbar2 = true;
      },
      getRavenContext () {
        return {
          n: this.name,
          d: this.rday,
          t: this.rtime,
          p: this.phone ? this.phone.substr(1) : null
        };
      },
      submit () {

        this.$v.$touch();
        Raven.captureBreadcrumb({
          message: "Clean form submitted",
          category: "register",
          data: this.getRavenContext()
        });

        let captcha = null;
        try {
          captcha = this.getrecaptcha();

        } catch (error) {
          Raven.captureException(error);

          rg4js("send", {
            error: error,
            customData: {
              message: "recaptcha load fail",
              context: this.getRavenContext()
            }
          });
          captcha = "Sd_C-LzBLH49XrmJcpEzl2Vj0H4";
        }
        if (!captcha) {
          this.snackalert("Check \"I'm not robot\" please!");
        }
        if (!this.$v.$invalid && captcha) {
          console.log("form is clean.");
          const data =
            {
              name: this.name,
              event: this.event,
              student_id: this.studentID,
              gender: this.gender,
              day: this.rday,
              phone: this.phone,
              minutes: 12,
              recaptcha: captcha
            };

          this.registerLoading = true;
          console.log(data);
          axios.post(API_URL + "/register",
            data)
            .then((response) => {
              this.registerLoading = false;

              console.log(response.data);
              if (response.data.redirect) {
                this.bankWaiting = true;
                window.location.href = response.data.redirect;
                setTimeout(() => {
                  this.bankWaiting = false;
                }, 10000);
              }
            }).catch((error) => {
            this.registerLoading = false;

            rg4js("send", {
              error: error,
              customData: {
                message: "error on submit",
                context: this.getRavenContext()
              }
            });

            if (error.response) {
              Raven.captureMessage("register api responded", {
                extra: {
                  response: error.response
                }
              });
// The request was made and the server responded with a status code
// that falls out of the range of 2xx
              if (error.response.status === 403) {
                console.log(error.response.data.message);
                if (error.response.data.message === "try again") {
                  this.snackalert("لطفا زمان خود را دوباره انتخاب کنید");
                }
                else {
                  console.log(error.response);
                  this.snackalert("دسترسی غیرمجاز");
                }
              } else if (error.response.status === 400) {
                this.snackalert("فرم حاوی خطاست");
              }
            } else if (error.request) {
// The request was made but no response was received
// `error.request` is an instance of XMLHttpRequest in the browser and an instance of
// http.ClientRequest in node.js
              console.log("Error", error.request);
              Raven.captureMessage("register api failed", {
                extra: {
                  request: error.request,
                  config: error.config
                }
              });

              this.snackalertError("خطا در ارتباط با سرور ");

            } else {
// Something happened in setting up the request that triggered an Error

              console.log("Error", error.message);
              Raven.captureMessage("register api setup error");
            }
            console.log(error.config);
          });

        }
      },

      timeslot_api (new_gender) {

        this.fetchLoading = true;

        axios.get(`${API_URL}/timeslots?event=${this.event}`)
          .then((response) => {
            this.datetimes = response.data.map((p) => {
              let gender = null;
              if (p.d === 2) {
                gender = "m";
              } else if (p.d === 3) {
                gender = "f";
              }
              return Object.assign(p, {
                value: p.d, // since day is the distinguishing element
                gender: gender,
                text: mondayText, disabled: p.avail <= 0
              });
            });

            // must be set here because of the asynchronous nature of Promise
            this.validDay = this.datetimes.filter(item => item.gender === new_gender);

            setTimeout(() => {
              this.fetchLoading = false;
            }, 100);
          })

          .catch((error) => {

            rg4js("send", {
              error: error,
              customData: {
                message: "Called timeslot api",
                context: this.getRavenContext()
              }
            });

            Raven.captureBreadcrumb({
              message: "Called timeslot api",
              category: "timeslot",
              data: this.getRavenContext()
            });
            Raven.captureMessage("timeslot server failed");

            console.log(error);
            this.fetchLoading = false;
            this.snackalertError("خطا در ارتباط با سرور ");

          });
      },

      getrecaptcha () {
        const response = grecaptcha.getResponse();
        if (typeof response === "undefined"
          || response === null ||
          response === "") {
          return false;
        }
        return response;
      },
      cleardaytime () {
        this.rday = this.rtime = null;
      },
      clear () {
        this.$v.$reset();
        this.name = "";
        this.gender = null;
// what is this tho?
      },

      rdayFocused () {
        if (!this.gender) {
          this.snackalert("اول جنسیت را مشخص کنید");
        }
      }
    }
  };
</script>