<template>
  <v-layout class="vazir">
    <v-flex  sm10 md8>
  <v-text-field
      label="نام و نام خانوادگی"
      v-model="name"
      required
      readonly=""
    ></v-text-field>
    <!-- student id -->
    <v-text-field
      label="شماره دانشجویی"
      v-model="studentID"
      required
      type="number"
      readonly=""
    ></v-text-field>

    <!-- gender -->
  <v-radio-group 
  required
  v-model="gender"
   column
   readonly="" 
  >
      <v-radio label="مرد" value="m" required></v-radio>
      <v-radio label="زن" value="f" required></v-radio>
    </v-radio-group>

<v-layout row wrap class="mb-4">
  <v-flex xs12 sm3>
  <!-- time -->
      <v-select
          required
          v-model="rday"
          label="روز"
          readonly=""
        >
        </v-select>
        </v-flex>
        <v-spacer></v-spacer>
<v-flex xs12 sm8>
    <v-select
          required
          v-model="rtime"
          label="ساعت"
          single-line
        >
        </v-select>
<p class="caption grey--text text--darken-4">ساعت های کمرنگ , پر شده است</p>
</v-flex>
</v-layout>

// submit buttons
    </v-flex>
  </v-layout>    
</template>

<script>
export default {
  
}
</script>
