<template>
  
<v-layout column justify-center align-center>
    <v-flex xs12 sm8 md6>
    <v-card class="vazir pt-5 px-3">
        <v-card-title class="rtl display-2 green--text  mb-3">
       خرید با موفقیت انجام شد!
        
        </v-card-title>
        <v-divider class=""></v-divider>

        <v-card-text class="rtl">
        <div class="title red--text mb-4 rtl" ><p> *لطفا عکس  این صفحه را به همراه داشته باشید </p></div>
                <v-text-field
            v-model="game"
            label="بازی"
            readonly
        ></v-text-field>
        <v-text-field
            v-model="name"
            label="ثبت به نام"
            readonly
        ></v-text-field>
        <v-text-field
            v-model="order"
            label="کد رهگیری"
            readonly
        ></v-text-field>
        <!-- <p class="caption">این کد را یادداشت کنید</p> -->
        <v-text-field
            v-model="day"
            label="روز"
            readonly
        ></v-text-field>
        <v-text-field
            v-model="time"
            label="ساعت"
            readonly
        ></v-text-field>

        </v-card-text>
        <!-- <v-divider class="mb-2"></v-divider> -->
        <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary mb-2" router to="/" >اتمام</v-btn>
        </v-card-actions>
    </v-card>
    </v-flex>
</v-layout>
</template>


<style scoped>
.rtl{
  direction: rtl
}
</style>



<script >
export default{
  data: function data() {
    return {
      name: "محمد حسین فروغی کیا",
      order: "rx2amb5",
      game : "فوتبال حبابی",
      day : "یکشنبه",
      time : "17:00"
    };
  },
  methods : {
      submit(){
          
      }
  }
}
</script>
