<template>
    <v-app>
        <v-navigation-drawer
                :mini-variant.sync="miniVariant"
                :clipped="clipped"
                v-model="drawer"
                fixed
                app
        >
            <v-list class="vazir">
                <v-list-tile
                        router
                        :to="item.to"
                        :key="i"
                        v-for="(item, i) in items"
                        exact
                >
                    <v-list-tile-action>
                        <v-icon v-html="item.icon"></v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title v-text="item.title"></v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
        <v-toolbar class="indigo white--text" fixed app :clipped-left="clipped">
            <v-toolbar-side-icon dark @click="drawer = !drawer"></v-toolbar-side-icon>
            <v-btn dark
                    icon
                    @click.stop="miniVariant = !miniVariant"
            >
                <v-icon v-html="miniVariant ? 'chevron_right' : 'chevron_left'"></v-icon>
            </v-btn>
            <!-- <v-btn
              icon
              @click.stop="clipped = !clipped"
            >
              <v-icon>web</v-icon>
            </v-btn>
            <v-btn
              icon
              @click.stop="fixed = !fixed"
            >
              <v-icon>remove</v-icon>
            </v-btn> -->
            <v-toolbar-title v-text="title"></v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn dark
                    icon
                    @click.stop="rightDrawer = !rightDrawer"
            >
                <!-- <v-icon>menu</v-icon> -->
            </v-btn>
        </v-toolbar>
        <v-content>
            <v-container>
                <nuxt/>
            </v-container>
        </v-content>
        <!-- <v-navigation-drawer
          temporary
          :right="right"
          v-model="rightDrawer"
          fixed
        >
          <v-list>
            <v-list-tile @click.native="right = !right">
              <v-list-tile-action>
                <v-icon light>compare_arrows</v-icon>
              </v-list-tile-action>
              <v-list-tile-title>Switch drawer (click me)</v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-navigation-drawer> -->
        <v-footer :fixed="fixed" app>
            <!-- <v-layout row wrap justify-spa> -->
            <!-- <v-flex> -->
            <span class="body pl-2">&copy; Aria 2018 </span>
            <!-- <v-btn>button</v-btn> -->
            <!-- </v-flex > -->
            <v-spacer></v-spacer>
            <!-- <v-flex> -->
            <!-- <v-btn>button</v-btn> -->

            <span class="body pr-3 vazir">
        <!--<a href="https://telegram.me/iutgamesiutgames"> تلگرام @iutgames </a>-->
</span>

            <!-- </v-flex > -->
            <!-- </v-layout>     -->
        </v-footer>
    </v-app>
</template>

<script>

  export default {
    data () {
      return {
        clipped: false,
        drawer: false,
        fixed: false,
        items: [
          { icon: "apps", title: "خانه", to: "/" },
          { icon: "color_lens", title: "جشن آریا", to: "/aria" }

        ],
        miniVariant: false,
        right: true,
        rightDrawer: false,
        title: "Aria"
      };
    }
  };
</script>
