<template>
    <v-container>
        <Form :title="title"></Form>
    </v-container>
</template>

<script>

  import Form from "~/components/signup/AriaForm.vue";

  export default {
    data: () => ({
      title: "جشن آریا"
    }),
    components: {
      Form
    }
  };
</script>