<template>
    <v-layout justify-center align-center>
        <v-flex xs12 sm10 md9>
            <v-card class="vazir pt-5 px-3">
                <!-- <v-card-title class="display-2 rtl mb-2">کانون هلال برگزار می کند</v-card-title> -->
                <v-card-title class="display-2 rtl mb-1">جشن آریا</v-card-title>
                <v-card-text class="rtl">
                    <!--<p class="display-2"> جشن بزرگ آریا</p>-->
                    <!--<p class="display-1 mb-5"> کانون آریا برگزار می کند</p>-->
                    <v-container grid-list-sm class="pt-3">
                        <v-layout row wrap justify-space-between>
                            <v-flex md6>

                                <p class="headline mb-4">لطفا نکات زیر را درنظر داشته باشید</p>
                                <div class="pr-3">
                                    <p style="">
                                        +
                                        ردیف صندلی شما بعد از تکمیل ثبت نام, حضوری در کانون مشخص می شود.
                                    </p>
                                    <p style="font-weight: bold;">
                                        +
                                        برای تکمیل ثبت نام باید از دوشنبه ساعت ده صبح
                                        لغایت دو ظهر به همراه کارت دانشجویی به کانون آریا مراجعه نمایید.
                                    </p>
                                    <p>
                                        +
                                        فروش بلیط های خانوادگی به صورت حضوری می باشد.
                                    </p>
                                    <p>
                                        +
                                        رعایت شئونات اسلامی و قوانین دانشگاه الزامی است.
                                    </p>
                                    <p>
                                        +
                                        در صورت عدم رعایت قوانین امکان ابطال بلیط وجود دارد.</p>
                                </div>
                                    <p class="headline mb-3">زمان و مکان</p>
                                <div class="pr-3">
                                    <p>
                                        +
                                           دوشنبه ۷ خرداد ساعت  ۲۱:۰۰ - تالار شیخ بهایی</p>
                                    <p>+
                                        قیمت: ۱۳ هزار تومان
                                    </p>

                                    <v-btn large="" class="mt-3" nuxt to="/aria"> خرید بلیط</v-btn>
                                </div>
                            </v-flex>
                        </v-layout>
                    </v-container>


                </v-card-text>
                <v-card-actions>


                </v-card-actions>
            </v-card>
        </v-flex>
    </v-layout>
</template>


<style scoped>
    .rtl {
        direction: rtl
    }
</style>
